<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEnVvJx3dxCu23cAHLRVfvfItWFc80CgY</string>
	<key>GCM_SENDER_ID</key>
	<string>122129934707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FairTrip</string>
	<key>PROJECT_ID</key>
	<string>fairtrip-cb780</string>
	<key>STORAGE_BUCKET</key>
	<string>fairtrip-cb780.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122129934707:ios:820c63ecb68fe0e48ffd06</string>
</dict>
</plist>